<mat-card class="card">
    <mat-card-title>Detalles del contactos</mat-card-title>
    <mat-card-content class="card-content">
        <p>
            <mat-icon>person</mat-icon><strong>Nombre:</strong> {{contact.name}}
        </p>
        <p>
            <mat-icon>person</mat-icon><strong>Primer Apellido:</strong> {{contact.surname1}}
        </p>
        <p>
            <mat-icon>person</mat-icon><strong>Segundo Apellido:</strong>{{contact.surname2}}
        </p>
        <p>
            <mat-icon>phone</mat-icon><strong>Telefono Apellido:</strong> {{contact.phone}}
        </p>
        <p>
            <mat-icon>alternate_email</mat-icon><strong>Email:</strong>{{contact.email}}
        </p>
    </mat-card-content>
</mat-card>