<a mat-stroked-button routerLink="/contact/new">New contact</a>
<table mat-table [dataSource]="contacts" class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID. </th>
      <td mat-cell *matCellDef="let contact"> {{contact.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let contact"> {{contact.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="surname1">
      <th mat-header-cell *matHeaderCellDef> PApellido </th>
      <td mat-cell *matCellDef="let contact"> {{contact.surname1}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="surname2">
      <th mat-header-cell *matHeaderCellDef> SApellido </th>
      <td mat-cell *matCellDef="let contact"> {{contact.surname2}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Telefono </th>
      <td mat-cell *matCellDef="let contact"> {{contact.phone}} </td>
    </ng-container>
    
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Correo </th>
      <td mat-cell *matCellDef="let contact"> {{contact.email}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDetailForm(row)"></tr>
  </table>
  
  
