<mat-card class="card">
    <mat-card-title>Añadir contacto</mat-card-title>
    <mat-card-content class="card-content">
        <form (submit)="newContact()">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" name="name" [(ngModel)]="name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Primer apellido</mat-label>
                <input matInput type="text" name="surname1" [(ngModel)]="surname1">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Segundo apellido</mat-label>
                <input matInput type="text" name="surname2" [(ngModel)]="surname2">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Numero</mat-label>
                <input matInput type="number" name="phone" [(ngModel)]="phone">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="text" name="email" [(ngModel)]="email">

                <div class="buttons">
                    <button id="Primer" mat-raise-button color="primary" type="submit">
                        <mat-icon>done_all</mat-icon>
                    </button>
                    
                    <button mat-raised-button color="warn" type="button" (click)="cancelInsert()">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </div>
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>
